@import 'src/styles/main';

div.scrollmenu {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background: silver;
  margin-right: 16px;
  height: 75px;
  width: 75px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

h6 {
    margin: 1rem 0;
}

hr {
    border-color: $color-board-aqua;
}