<div class="container">
  <h6>Recently Viewed Items</h6>
  <div class="scrollmenu">
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
    <a class="previouslyVisitedGame"></a>
  </div>
</div>


