<div class="gradientPageWrapper">
  <div class="container">
    <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
      <h1 class="whiteTitle">Reset Your Password</h1>
      <p>Please enter the email address associated with your Boardology account.</p>
      <div class="form-group">
        <input [ngClass]="{'is-invalid': passwordResetForm.get('email').errors && passwordResetForm.get('email').touched}"
          class="form-control" placeholder="Email" formControlName="email">
        <div class="invalid-feedback"
          *ngIf="passwordResetForm.get('email').touched && passwordResetForm.get('email').hasError('required')">Email
          is required</div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-white" type="submit">Reset Password</button>
        <button class="btn btn-white" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
