<div class="container">
  <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
    <h2 class="text-center text-primary mt-2">Reset Your Password</h2>
    <hr>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': passwordResetForm.get('email').errors && passwordResetForm.get('email').touched}"
        class="form-control" placeholder="Email" formControlName="email">
      <div class="invalid-feedback"
        *ngIf="passwordResetForm.get('email').touched && passwordResetForm.get('email').hasError('required')">Email
        is required</div>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Reset Password</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>