//   Media Queries   //
$breakpoint-sm: "min-width: 576px";
$breakpoint-md: "min-width: 768px";
$breakpoint-lg: "min-width: 992px";
$breakpoint-xl: "min-width: 1200px";

$breakpoint-sm-down: "max-width: 575.98px";
$breakpoint-md-down: "max-width: 767.98px";
$breakpoint-lg-down: "max-width: 991.98px";
$breakpoint-xl-down: "max-width: 1199.98px";

//   Z-Index   //

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
