<div class="container">
  <div class="flip-card mt-4 shadow">
    <div class="flip-card-inner" (click)="toggleFlip()" [@flipState]="cardFlip">
      <div class="flip-card-front">
        <div>{{product.name}}</div>
        <div class="gameInfo">Players</div>
        <div class="gameInfo">Time</div>
        <div class="gameInfo">Age</div>
      </div>
      <div class="flip-card-back">
        <h2>{{ product.name }}</h2>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
</div>