<app-jumbotron></app-jumbotron>
<div class="container">
  <div class="row">
    <section class="col-12 col-md-12 col-lg-12">
      <app-home-intro-content></app-home-intro-content>
    </section>
    <section class="col-12 col-md-12 col-lg-8">
      <app-picture-carousel></app-picture-carousel>
    </section>
    <section class="col-12 col-md-12 col-lg-4 ">
      <app-articles></app-articles>
    </section>
  </div>
</div>
<section>
  <app-register></app-register>
</section>
<app-footer></app-footer>
