<app-jumbotron></app-jumbotron>

<div class="container col-12">

  <div class="row no-gutters">
    <div class="col-8 text-center">
      <h4>Discover</h4>
      <p>Join the community to discover all new games. Rate and review your favorite games.</p>
    </div>
    <div class="col-4 home-icons"><img class="img-fluid" src="../../assets/discover-icon.png" alt=""></div>
  </div>
  <hr />
  <div class="row no-gutters">
    <div class="col-4 home-icons"><img class="img-fluid" src="../../assets/collection-icon.png" alt=""></div>
    <div class="col-8 text-center">
      <h4>Collection</h4>
      <p>Log in and keep track of your collection. Know what you have at all times.</p>
    </div>
  </div>
  <hr />
  <div class="row no-gutters">
    <div class="col-8 text-center">
      <h4>Wishlist</h4>
      <p>Don't forget about games you want. Add them to your wishlist, and purchase them at a later date.</p>
    </div>
    <div class="col-4 home-icons"><img class="img-fluid" src="../../assets/wishlist-icon.png" alt=""></div>
  </div>
  <hr />
  <h1>Discover</h1>
  <div class="categories">
      <app-category *ngFor="let category of categories" [category]="category"></app-category>
  </div>
</div>

