<app-jumbotron></app-jumbotron>

<div class="container col-12">

  <div class="row no-gutters">
    <div class="col-8 text-center">
      <h4>Discover</h4>
      <p>Join the community to discover all new games. Rate and review your favorite games.</p>
    </div>
    <div class="col-4 home-icons"><img class="img-fluid" src="../../assets/discover-icon.png" alt=""></div>
  </div>
  <hr />
  <div class="row no-gutters">
    <div class="col-4 home-icons"><img class="img-fluid" src="../../assets/collection-icon.png" alt=""></div>
    <div class="col-8 text-center">
      <h4>Collection</h4>
      <p>Log in and keep track of your collection. Know what you have at all times.</p>
    </div>
  </div>
  <hr />
  <div class="row no-gutters">
    <div class="col-8 text-center">
      <h4>Wishlist</h4>
      <p>Don't forget about games you want. Add them to your wishlist, and purchase them at a later date.</p>
    </div>
    <div class="col-4 home-icons"><img class="img-fluid" src="../../assets/wishlist-icon.png" alt=""></div>
  </div>
  <hr />
  <h1>Discover</h1>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            All Games
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
              all
              action
              adventure
              Board
              card
              childrens
              dice
              educational
              expansion
              exploration
              humor
              memory
              miniatures
              movies/tv theme
              murder/mystery
              party games
              sports
              wargame
              word
              zombies
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            Board Games
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Dice Games
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

