@import 'src/styles/main';

.container {
    text-align: center;
    margin-top: auto;
}

.form-control {
    background-clip: padding-box;
    border-radius: .25rem;
    color: $color-dark-gray;
    height: calc(1.5em + .75rem + 2px);
    line-height: 1.5;
    padding: 1.5rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group {
    position: relative;
}

.loginLink {
    background-color: rgba($color: $color-white, $alpha: 0.2);
    border-top: 1px solid rgba($color: $color-white, $alpha: 0.4);
    color: $color-dark-gray;
    margin-top: auto;
    padding: 1rem;
    text-align: center;
}

.gradientPageWrapper {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 62px);
    justify-content: center;
}

.whiteTitle {
    color: $color-white;
    font-size: 36px;
    margin-bottom: 2rem;
}