@import 'src/styles/main';

.arrow-lead {
    display: flex;
    justify-content: center;
    margin: -20px;
}

.circle {
    align-items: center;
    background: $color-white;
    border-radius: 50%;
    border: 1px solid $color-dark-gray;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

form {
    margin-bottom: 2rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1.5rem .75rem;
    line-height: 1.5;
    color: $color-white;
    background-color: rgba($color: $color-white, $alpha: 0.2);
    background-clip: padding-box;
    border: 1px solid rgba($color: $color-white, $alpha: 0.2);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input::placeholder {
    color: $color-white;
}

.new-user-wrapper {
    text-align: center;
    margin-bottom: 24px;
}

p {
    margin: 32px auto 16px;
}

.registrationWrapper {
    display: flex;
    justify-content: space-around;
    color: $color-white;
    padding: 1.0rem;
    border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.4);;
    background: transparent;
}

.registrationWrapper:nth-of-type(1){
    border-bottom: 5px solid white;
    border-right: 1px solid rgba($color: $color-white, $alpha: 0.4);
}

.signInContainer {
    background: #00b09b;  /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right bottom, rgba(#00b09b, 0.9), rgba(#96c93d, 0.9)); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right bottom, rgba(#00b09b, 0.9), rgba(#96c93d, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}