<div class="gradientPageWrapper">
  <div class="container col-sm-8">
    <h1 class="whiteTitle">Boardology</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <input class="form-control"
          [ngClass]="{'is-invalid': loginForm.get('email').errors && loginForm.get('email').touched}" type="text"
          name="email" placeholder="Email" formControlName="email" />
        <div class="invalid-tooltip" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
          Email
          is required (6-14 characters)
        </div>
      </div>
      <div class="form-group">
        <input class="form-control"
          [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}" type="password"
          name="password" placeholder="Password" formControlName="password" />
        <div class="invalid-tooltip"
          *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Password
          is required (6-14 characters)
        </div>
      </div>
      <button class="btn btn-white" type="submit">
        Login
      </button>
    </form>
    <div class="passwordReset">
      <a href="" routerLink="/password-reset">Forgot password? Click here for help signing in.</a>
    </div>
  </div>
  <div class="registerLink">
    <a href="" routerLink="/register">New to Boardology? Sign up.</a>
  </div>
</div>