@import 'src/styles/main';


.jumbotron {
    background: #00b09b;  /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right bottom, rgba(#00b09b, 0.9), rgba(#96c93d, 0.9)) ,url(../../../assets/board-games.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right bottom, rgba(#00b09b, 0.9), rgba(#96c93d, 0.9)) ,url(../../../assets/board-games.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: top;
    color: $color-white;
    margin-bottom: 1.0rem;
    margin-top: -1.5rem;
    p {
        font-size: 18px;
    }
    
}

