<app-search></app-search>
<p id="filterText" class="pt-2 px-3 text-right">Filter</p>
<div class="container">
    <div class="card mb-3">
        <div class="card-header">Title of Board Game</div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-4 align-self-center p-2">
                    <img class="img-fluid d-flex" src="https://picsum.photos/300?random" alt="">
                </div>
                <div class="col-8 p-1"> Description:
                    <p class="game-description"><em>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, harum.</em></p>
                    <a class="product-aff-link" href="#">Link to affiliate item</a>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <p><span>Upvote</span> (1,200) | <span>Downvote</span> (24)</p>
            <p>Price - $32.99</p>
        </div>
    </div>
</div>