<div class="accordion btn-link" [attr.data-target]="'#collapse' + category"
aria-expanded="true" [attr.aria-controls]="'collapse' + category" id="accordionExample" data-toggle="collapse">
  <div class="card">
    <div class="card-header" id="{{category}}Header">
      <div class="category-title">
          {{ category }}
      </div>
    </div>
    <div id="collapse{{category}}" class="collapse" [attr.aria-labelledby]="category +'Header'"
      data-parent="#accordionExample">
      <div class="card-body">
        <ul>
          <li *ngFor="let product of products | boardCategorySort: category"><a [routerLink]="['/games/', product.id]">{{product.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>