<!-- <p id="filterText" class="pt-2 px-3 text-right">Filter</p> -->
<!-- <app-search [originalProducts]="products"></app-search>
<app-product-item *ngFor="let product of products | slice:0:[max]" [product]="product" [upvotes]="upvotes"
    [downvotes]="downvotes"></app-product-item>
<div *ngIf="[max] < products?.length -1" class="text-center" (click)="viewMore()">View more</div>
<div *ngIf="[max] >= products?.length -1" class="text-center" (click)="scrollToTop()">Back to top</div> -->

<!-- <div class="container">
    <div class="categories">
        <h1>Games</h1>
        <app-category *ngFor="let category of categories" [category]="category" [products]="products"></app-category>
    </div>
</div> -->

<div class="scrollMenu">
    <app-category *ngFor="let category of categories" [category]="category" [products]="products"></app-category>
</div>
<div class="container">
    <h1>Games in Adventure</h1>
    <div class="gameWrapper" *ngFor="let product of products | slice:0:[max]">
        <div class="row no-gutters">
            <div class="col-11">
                <div class="gameContent">
                    <h5 class="mb-3">{{ product.name }}</h5>
                    <div class="row">
                        <div class="col-5 centerImg">
                            <img class="img-fluid"
                                src="{{ product.photoUrl }}" alt="">
                        </div>
                        <div class="col-7">
                            <p class="mb-2">{{ product.description| slice:0:[descMax] }}...</p>
                            <div>
                                <i class="fa fa-edit"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="gameReviewWrapper2">
                    <div class="upvotes2">
                        <i class="fa fa-thumbs-up" [ngClass]="{downvoted: hasDownvoted}"></i>
                    </div>
                    <div class="downvotes2">
                        <i class="fa fa-thumbs-down" [ngClass]="{downvoted: hasDownvoted}"></i>
                    </div>
                    <div class="wishlist">
                        <i class="fa fa-gift"></i>
                    </div>
                    <div class="collection">
                        <i class="fa fa-list-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>