<!-- <p id="filterText" class="pt-2 px-3 text-right">Filter</p> -->
<!-- <app-search [originalProducts]="products"></app-search>
<app-product-item *ngFor="let product of products | slice:0:[max]" [product]="product" [upvotes]="upvotes"
    [downvotes]="downvotes"></app-product-item>
<div *ngIf="[max] < products?.length -1" class="text-center" (click)="viewMore()">View more</div>
<div *ngIf="[max] >= products?.length -1" class="text-center" (click)="scrollToTop()">Back to top</div> -->

<!-- <div class="container">
    <div class="categories">
        <h1>Games</h1>
        <app-category *ngFor="let category of categories" [category]="category" [products]="products"></app-category>
    </div>
</div> -->

<div class="scrollMenu">
    <app-category *ngFor="let category of categories" [category]="category" [products]="products"></app-category>
</div>
<div class="container">
    <h1>Games in Adventure</h1>
    <div class="gameWrapper">
        <div class="gameContent">
            <h5 class="mb-3">This is a long title to a game, this one would be even longer.</h5>
            <div class="row">
                <div class="col-7">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus fuga est facilis tenetur sunt
                        accusantium
                        tempore quas corporis velit! Omnis.</p>
                </div>
                <div class="col-5">
                    <img class="img-fluid" src="http://prodimage.images-bn.com/pimages/0714043012196_p0_v1_s1200x630.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="gameReviewWrapper">
            <div class="votingWrapper">
                <div class="upvotes">
                    <i class="fa fa-thumbs-up" [ngClass]="{downvoted: hasDownvoted}"></i>
                    <span>1400</span>
                </div>
                <div class="downvotes">
                    <i class="fa fa-thumbs-down" [ngClass]="{downvoted: hasDownvoted}"></i>
                    <span>200</span>
                </div>
            </div>
            <i class="fa fa-edit"></i>
        </div>
    </div>
    <div class="gameWrapper">
        <div class="gameContent">
            <h5 class="mb-3">This is a long title to a game, this one would be even longer.</h5>
            <div class="row">
                <div class="col-7">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus fuga est facilis tenetur sunt
                        accusantium
                        tempore quas corporis velit! Omnis.</p>
                </div>
                <div class="col-5">
                    <img class="img-fluid" src="http://prodimage.images-bn.com/pimages/0714043012196_p0_v1_s1200x630.jpg"
                        alt="">
                </div>
            </div>
        </div>
        <div class="gameReviewWrapper">
            <div class="votingWrapper">
                <div class="upvotes">
                    <i class="fa fa-thumbs-up" [ngClass]="{downvoted: hasDownvoted}"></i>
                    <span>1400</span>
                </div>
                <div class="downvotes">
                    <i class="fa fa-thumbs-down" [ngClass]="{downvoted: hasDownvoted}"></i>
                    <span>200</span>
                </div>
            </div>
            <i class="fa fa-edit"></i>
        </div>
    </div>
    <div class="gameWrapper">
        <div class="gameContent">
            <h5 class="mb-3">This is a long title to a game, this one would be even longer.</h5>
            <div class="row">
                <div class="col-7">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus fuga est facilis tenetur sunt
                        accusantium
                        tempore quas corporis velit! Omnis.</p>
                </div>
                <div class="col-5">
                    <img class="img-fluid" src="http://prodimage.images-bn.com/pimages/0714043012196_p0_v1_s1200x630.jpg"
                        alt="">
                </div>
            </div>
        </div>
        <div class="gameReviewWrapper">
            <div class="votingWrapper">
                <div class="upvotes">
                    <i class="fa fa-thumbs-up" [ngClass]="{downvoted: hasDownvoted}"></i>
                    <span>1400</span>
                </div>
                <div class="downvotes">
                    <i class="fa fa-thumbs-down" [ngClass]="{downvoted: hasDownvoted}"></i>
                    <span>200</span>
                </div>
            </div>
            <i class="fa fa-edit"></i>
        </div>
    </div>
</div>

