@import 'src/styles/main';

.gameList {
  padding: .5rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: -1px;
  min-height: 75px;
  cursor: pointer;
  p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}

.gameList:nth-of-type(odd){
    background-color: lighten($color-blue, 40);
}

.gameName {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;

}

.bold {
  font-weight: $font-bold;
}

.try {
  border-right: 1px solid $color-grayed-out;
}

.scrollMenu {
  background-color: #333;
  margin-bottom: 1rem;
  overflow: auto;
  padding: .75rem;
  white-space: nowrap;
}

.tableHeader {
  background-color: $color-dark-gray;
  color: $color-white;
  padding: 16px 0px;
}

.viewMore {
  padding: 16px;
  text-align: center;
}

.votingContainer {
  padding: 8px;
  color: $color-dark-gray;
}
