@import 'themes/colors';
@import 'base/typography';

button {
    font-family: $font-secondary;
    font-size: 14px;
}

.btn-primary {
    // background: #00b09b;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: $color-board-aqua;
    border: none;
    color: $color-white;
    width: 100%;
}

.btn-outline-primary {
    background: transparent;
    border: 1px solid $color-board-aqua;
    color: $color-board-aqua;
    width: 100%; 
}

.btn-white {
    background: transparent;
    border: 1px solid $color-white;
    color: $color-white;
    width: 100%;
    padding: 1.0rem;
}