@import 'themes/colors';
@import 'base/typography';

button {
    font-family: $font-secondary;
    font-size: 14px;
    // padding: 10px 12px;
}

.btn-primary {
    // background: #00b09b;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: $color-light-blue;
    border: none;
    color: $color-white;
    width: 100%;
}

.btn-outline-primary {
    background: transparent;
    border: 1px solid $color-light-blue;
    color: $color-light-blue;
    width: 100%;
}

.btn-secondary {
    background-color: $color-blue;
    border: none;
    color: $color-white;
    width: 100%;
}

.btn-white {
    background-color: $atlas-white;
    border: 1px solid $color-white;
    color: $atlas-dark-gray;
    // padding: 10px 18px;
    border-radius: 50px;
}

.btn-gradient {
  @include atlas-background;
  color: $atlas-white;
  border-radius: 50px;
}
