@import 'themes/colors';
@import 'base/typography';

button {
    font-family: $font-secondary;
    font-size: 14px;
}

.btn-primary {
    background-color: $color-light-blue;
    border: none;
    color: $color-white;
    width: 100%;
    padding: 0.375rem 0.50rem;
}

.btn-outline-primary {
    background: transparent;
    border: 1px solid $color-light-blue;
    color: $color-light-blue;
    width: 100%;
}

.btn-secondary {
    background-color: $color-blue;
    border: none;
    color: $color-white;
    width: 100%;
}

.btn-white {
    background: transparent;
    border: 1px solid $color-white;
    color: $color-white;
    width: 100%;
    padding: 1.0rem;
}

.btn-main-white {
  background: $color-white;
  border: 1px solid $color-white;
  color: $color-light-blue;
  font-weight: $font-bold;
  text-align: center;
  width: 100%;
}

.btn-lg {
  padding: 18px 32px;
  font-size: 16px;
}
