@import 'src/styles/main';

.card {
    border-left: none;
    border-right: none;
}
.card-header {
    background-color: $color-dark-gray;
    padding: 0.75rem;
}

.game-text {
    font-size: $global-font-size;
    align-items: center;
    display: flex;

}

.game-image {
    align-items: center;
    display: flex;
    justify-content: center;
    img {
        max-height: 40px;
    }
    
}

.list-group-item {
    padding: .25rem;
    max-height: 50px;
}
