@import "src/styles";

.search-box {
    border-bottom: 1px solid $color-dark-gray;
}

.game-text {
    font-size: 24px;
    font-weight: 600;
}

img {
    width: 60px;
}

// .search-button {
//     background: #00b09b;  /* fallback for old browsers */
//     background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//     color: $color-white;
// }