<h2>Recent Articles</h2>
<div class="list-group">
  <div *ngFor="let article of articles" [routerLink]="['/article/', article.id, getArticleName(article.title)]" routerLinkActive="router-link-active"  class="article-container">
    <div class="w-100">
      <h5 class="article-title">{{article.title}}</h5>
    </div>
    <div class="article-info grayed-text">
      <div>{{article?.author}}</div>
      <p><i class="fa fa-comment mr-1"></i>{{article.comments}}</p>
      <p>{{article?.dateCreated | date: 'MMM d, y'}}</p>
    </div>
  </div>
</div>
