<h2>Recent Articles</h2>
<div class="list-group">
  <div *ngFor="let article of articles" [routerLink]="['/article/', article.id, getArticleName(article.title)]" routerLinkActive="router-link-active"  class="article-container">
    <div class="w-100 content">
      <h5 class="article-title">{{article.title}}</h5>
      <div class="badge-container">
          <span *ngIf="isNewArticle(article?.dateCreated)" class="badge badge-new">New</span>
          <span *ngIf="isArticleTrending(article?.numberOfComments)" class="badge badge-danger ">Hot</span>
      </div>
    </div>
    <div class="article-info grayed-text">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="authorName col-12">{{article?.author}}</div>
            <div class="col-12">{{article?.dateCreated | date: 'MMM d, y'}}</div>
          </div>
          
        </div>
        <p class="col-3 text-right"><i class="fa fa-comment mr-1"></i>{{article.numberOfComments}}</p>
      </div>
    </div>
  </div>
</div>
