.title {
    margin-top: 15px;
}

.author {
    margin-bottom: 5px;
}

.image {
    margin-bottom: 15px;
}

.leave-review {
    font-size: 12px;
    text-decoration: underline;
}

.delete {
    font-size:12px;
    color:red;
    text-decoration: underline;
}