@import 'src/styles/main';


.footer {
    align-items: center;
    background-color: $color-dark-gray;
    bottom: 0;
    color: $color-white;
    display: flex;
    font-weight: 500;
    height: 2.5rem;
    justify-content: flex-end;
    padding: 1.00rem;
    width: 100%;
}

p {
    font-size: 14px;
    margin: 0;
}
