//Colors//

$color-black: #000000;
$color-white: #FFFFFF;
$color-dark-gray: #414345;
$color-board-aqua: #00b09b;
$color-board-red: #FF0000;
$color-board-light-green: #96c93d;


//Media Queries//

$break-mobile-small: "min-width: 320px";
$break-mobile: "min-width: 480px";
$break-tablet: "min-width: 768px";
$break-desktop: "min-width: 992px";
$break-desktop-large: "min-width: 1200px";

$break-mobile-small-max: "max-width: 319px";
$break-mobile-max: "max-width: 479px";
$break-tablett-max: "max-width: 767px";
$break-desktop-max: "max-width: 991px";
$break-desktop-large-max: "max-width: 1199px";