//   Colors   //
$color-black: #000000;
$color-white: #FFFFFF;
$color-dark-gray: #414345;
$color-grayed-out: #777777;
$color-blue: #00b09b; //rgba(0, 176, 155, 1)
$color-board-red: #FF0000;
$color-board-light-green: #96c93d; //rgba(150, 201, 61, 1)
$color-hover: $color-blue;
$color-blue: #3a7bd5;
$color-light-blue: #00d2ff;

//   Forms   //
$form-element-height: 50px;
$color-error-border: #d12824;
$color-error-bg: #ffecec;
