//   Colors   //
$color-black: #000000;
$color-white: #FFFFFF;
$color-light-gray: #e9e9e9;
$color-dark-gray: #414345;
$color-grayed-out: #777777;
$color-blue: #00b09b; //rgba(0, 176, 155, 1)
$color-board-red: #FF0000;
$color-board-light-green: #96c93d; //rgba(150, 201, 61, 1)
$color-hover: $color-blue;
$color-blue: #3a7bd5;
$color-light-blue: #00d2ff;

//   Forms   //
$form-element-height: 50px;
$color-error-border: #d12824;
$color-error-bg: #ffecec;



// Colors for New Atlas Theme //

$atlas-white: #f2f2f2;
$atlas-light-gray: #ececec;
//SubHeaders
$atlas-medium-gray: #aaaaaa;
//Headers
$atlas-dark-gray: #444444;
//Navigation and Names
$atlas-black: #222222;
$atlas-yellow: #e3ab53;
