//   Colors   //
$color-black: #000000;
$color-white: #FFFFFF;
$color-dark-gray: #414345;
$color-board-aqua: #00b09b;
$color-board-red: #FF0000;
$color-board-light-green: #96c93d;
$color-hover: $color-board-aqua;

//   Forms   //
$form-element-height: 50px;
$color-error-border: #d12824;
$color-error-bg: #ffecec;
