@import "src/styles";

.dropdownNav {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-primary {
    background-color: $color-dark-gray;
}

ul {
    i {
        width: 24px;
    }
}

.logo {
    font-size: 50px;
}

.openDrawer {
    animation: moveInRight .5s;
    animation-fill-mode: forwards;
}

.closeDrawer {
    animation: moveInLeft .5s;
}

.drawer {
    position: absolute;
    left: -80%;
    z-index: 1;
    width: 80%;
}

.nav-content {
    height: 100vh;
}

@keyframes moveInRight {

    100% {
        transform: translateX(100%);
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}