@import 'src/styles/main.scss';

.table {
    background-color: $color-dark-gray;
    color: $color-white;
}

.leave-review {
    font-size: 12px;
    text-decoration: underline;
}

.delete {
    font-size:12px;
    color:red;
    text-decoration: underline;
}

.sign-in-error {
    color:red;
}
