@import 'src/styles/main';

.table {
    background-color: $color-dark-gray;
    color: $color-white;
}

.leave-review {
    font-size: 12px;
    text-decoration: underline;
}

.delete {
    font-size:12px;
    color:red;
    text-decoration: underline;
}

.sign-in-error {
    color:red;
}

.product-image {
    box-shadow: 0 15px 35px rgba($color-black, .4);
    border-radius: 4px;
}
