<!-- <div class="shadow card mb-4">
    <h4 class="card-header">
        {{ product.name }}
    </h4>
    <div class="card-body" routerLinkActive="active" [routerLink]="['/games/', product.id]">
        <div class="row no-gutters"><div class="ribbon" *ngIf="isTrending"><span>Trending</span></div>
            <div class="col-4 align-self-center p-2">
                <img class="img-fluid d-flex" src="{{  product.photoUrl }}" alt=" {{ product.name }}">
            </div>
            <div class="col-8 p-1">
                <p class="game-description"><em> {{ getShortenedDescription(product.description) }}</em></p>
                <span ><i class="numReviews">({{product.numReviews}})</i></span>
            </div>
            
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col d-flex justify-content-start">
                <div (click)="upvoteGame(product.id)"><i class="fa fa-thumbs-up" [ngClass]="{upvoted: hasUpvoted}"></i> {{ product.upvotes }} </div>
                <span class="mx-2">|</span>
                <div (click)="downvoteGame(product.id)"><i class="fa fa-thumbs-down" [ngClass]="{downvoted: hasDownvoted}"></i> {{ product.downvotes }}</div>
            </div>
            <div class="col d-flex justify-content-end">
                <p>Price - $32.99</p>
            </div>
        </div>
    </div>
</div> -->
<div class="flip-card mt-4 shadow">
    <div class="flip-card-inner" (click)="toggleFlip()" [@flipState]="cardFlip">
        <div class="flip-card-front">
            <div class="ribbon" *ngIf="isTrending"><span>Trending</span></div>
            <div class="row">
                <div class="col">
                        <img class="img-fluid" src="{{  product.photoUrl }}" alt=" {{ product.name }}">
                </div>
                <div class="col">
                    <h2>{{ product.name}}</h2>
                    <i class="fa fa-plus-circle"></i>

                </div>
            </div>

        </div>
        <div class="flip-card-back">
            <h6>Game Description</h6>
            <p class="productDescription"> {{ getShortenedDescription(product.description) }} </p>
            <div class="gameInfoContainer">
                <div class="gameInfo">Players <p>{{ product.numPlayers }}</p>
                </div>
                <div class="gameInfo">Time <p>{{ product.timeToPlay }}</p>
                </div>
                <div class="gameInfo">Age <p>{{ product.ageSuggestion }}</p>
                </div>
            </div>
        </div>
    </div>
</div>