@import 'src/styles/main';

#filterText {
    text-decoration: underline;
}

.card-body {
    padding: 0.50rem;
}

.card-header {
    padding: 0.5rem 1.00rem;
}

.card-footer {
    background-color: $color-dark-gray;
    color: $color-white;
    line-height: 16px;
    padding: 0.5rem 1.25rem;
    p {
        margin: 0;
        font-size: 12px;
    }
    
}

.game-description {
    font-size: 12px;
}

.price {
    font-size: 16px;
}

.product-aff-link {
    color: $color-board-aqua;
    font-size: 12px;
    text-decoration: underline;
}

.product-name {
    font-size: 18px;
    font-weight: 700;
    p {
        font-weight: 400;
    }
    a {
        font-weight: 400;
    }
}

i {
    color: white;
    margin-right: 4px;
}

.upvoted {
    color: $color-board-aqua;
}

.downvoted {
    color: red;
}

.trending {
    background-color: $color-board-aqua;
    color:white;
    padding: 1px 4px;
    position:relative;
    float:right;
    font-size:0.7em;
    bottom:12px;
    left:24px;
}

.numReviews {
font-size:0.7em;
color: black;
font-weight:400;
}

.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px; height: 200px;
    text-align: right;
}

.ribbon span {
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient($color-board-light-green 0%, $color-board-aqua 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid $color-board-aqua;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid $color-board-aqua;
}

.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid $color-board-aqua;
    border-bottom: 3px solid transparent;
    border-top: 3px solid $color-board-aqua;
}


.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px;
  margin: 0 auto;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

// .flip-card:hover .flip-card-inner {
//   transform: rotateY(180deg);
// }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  background-color: $color-dark-gray;
  color: $color-white;
  z-index: 2;
  
}

.flip-card-back {
    background: #00b09b;
    background-image: linear-gradient(to right bottom, rgba(0, 176, 155, 0.9), rgba(150, 201, 61, 0.9));
    color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    h6 {
        padding: 12px;
    }
}

.gameInfoContainer {
    display: flex;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $color-dark-gray;
}

.gameInfo {
  color: white;
  height: 65px;
  padding: 8px 16px;
  width: 100%;
  font-size: 12px;
  p {
      font-size: $global-font-size;
  };
}

.gameInfo:nth-of-type(2) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

i {
    font-size: 32px;
    padding-left: 24px;
    justify-self: flex-end;
}

.productDescription {
    padding: 0px 12px;
}

.categoryBox {
    align-items: center;
    background: rgba(0, 0, 0, 0.762);
    border: 1px solid $color-dark-gray; 
    border-radius: 5px;
    color: $color-white;
    display: flex;
    height: 150px;
    justify-content: center;
    width: 100%;
}