@import "src/styles";

#filterText {
    text-decoration: underline;
}

.card-body {
    padding: 0.50rem;
}

.card-header {
    padding: 0.5rem 1.00rem;
}

.card-footer {
    background-color: $color-dark-gray;
    color: $color-white;
    line-height: 16px;
    padding: 0.5rem 1.25rem;
    p {
        margin: 0;
        font-size: 12px;
    }
    
}

.game-description {
    font-size: 12px;
}

.price {
    font-size: 16px;
}

.product-aff-link {
    color: $color-board-aqua;
    font-size: 12px;
    text-decoration: underline;
}

.product-name {
    font-size: 18px;
    font-weight: 700;
    p {
        font-weight: 400;
    }
    a {
        font-weight: 400;
    }
}

i {
    color: $color-board-aqua;
    margin-right: 4px;
}

// .trending {
//     background-color: $color-board-aqua;
//     color:white;
//     padding: 1px 4px;
//     position:relative;
//     float:right;
//     font-size:0.7em;
//     bottom:12px;
//     left:24px;
// }

.numReviews {
font-size:0.7em;
color: black;
font-weight:400;
}

.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px; height: 200px;
    text-align: right;
}

.ribbon span {
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient($color-board-light-green 0%, $color-board-aqua 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid $color-board-aqua;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid $color-board-aqua;
}

.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid $color-board-aqua;
    border-bottom: 3px solid transparent;
    border-top: 3px solid $color-board-aqua;
}