@import 'src/styles/main';

.home-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContentContainer {
    display: flex;
    align-items: center;
}

.homeContentContainer:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.titleContainer {
    text-align: center;
    width: 70%;
}

.imgContainer {
    padding: 12px;
}