<div class="row">
  <div class="mx-auto col-12 col-sm-10 col-md-8 col-lg-4">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-10 col-md-12">
            <h2>Discover</h2>
            <p>Join the community to discover all new games. Rate and review your favorite games.</p>
          </div>
          <div class="box-logo-right">
            <img class="img-fluid center-img" src="../../assets/discover-icon.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto col-12 col-sm-10 col-md-6 col-lg-4">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-10 col-md-12">
            <h2>Collection</h2>
            <p>Log in and keep track of your collection. You&apos;ll know what you have at all times.</p>
          </div>
          <div class="box-logo-right">
            <img class="img-fluid center-img" src="../../assets/collection-icon.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto col-12 col-sm-10 col-md-6 col-lg-4">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-10 col-md-12">
            <h2>Wishlist</h2>
            <p>Remember games you want. Add them to your wishlist, and purchase them later.</p>
          </div>
          <div class="box-logo-right">
            <img class="img-fluid center-img" src="../../assets/wishlist-icon.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="col-12 col-md-6 order-md-3 col-lg-4 order-lg-2">
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-2 col-md-12 offset-md-0">
          <h2>Collection</h2>
          <p>Log in and keep track of your collection. You&apos;ll know what you have at all times.</p>
        </div>
        <div class="box-logo-left">
          <img class="img-fluid center-img" src="../../assets/collection-icon.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div> -->
