@import 'src/styles/main';


.content-wrapper{
}

.img-fluid {
    max-width: 75%;
}

.home-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row:nth-of-type(even) {
    flex-direction: row-reverse;
}
