img {
    width: 40px;
}

.list-group-item {
    padding: .25rem;
}

.delete {
    font-size:12px;
    color:red;
    text-decoration: underline;
    float:right;
}

.share-column, .collection-total {
    text-align: center;
    line-height: 40px;
}