@import 'src/styles/main';

img {
    width: 40px;
}

.list-group-item {
    padding: .25rem;
}

.gameCollectionListHeader {
  background: $color-dark-gray;
  color: $color-white;

}

.gameCollectionList {
  border-bottom: 1px solid $color-dark-gray;
}

.gameCollectionList:last-child{
  margin-bottom: 1.5rem;
}

i {
  color: $color-dark-gray;
}

.remove {
    color: $color-board-red;
    font-size: 14px;
}

.gradientWrapper {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $color-white;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
}

