<div class="container">
  <h2>My Wishlist</h2>
  <hr />
  <div *ngIf="!productWishlist?.length">
    <p>You don't have any items in your Wishlist!</p>
    <button class="btn btn-primary" [routerLink]="['/games']">View Games</button>
  </div>
</div>
<hr />
<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 8.33%">#</th>
      <th scope="col" style="width: 20%">Image</th>
      <th scope="col">Name</th>
      <th scope="col" style="width: 8.33%">Share</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productWishlist; let i = index">
      <th class="collection-total" scope="row">{{ i + 1 }}</th>
      <td><img src="{{ product.photoUrl }}" alt=""></td>
      <td [routerLink]="['/games/', product.id]">{{ product.name }}</td>
      <td class="share-column"><i class="fa fa-share-square"></i></td>
    </tr>
  </tbody>
</table>